# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# android
gen
bin
settings.fatjar

# ios
.DS_Store
*/*.xcodeproj/xcuserdata
!*/*.xcodeproj/project.pbxproj

*/*/*.xcodeproj/xcuserdata
!*/*/*.xcodeproj/project.pbxproj

*.xcworkspace/

UserInterfaceState.xcuserstate/
.idea

target

